
.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid navy;
    border-radius: 10px;
    background-color: white;
}
.register-form-container-inner {
    padding: 10px;
}
.register-form-caption {
    background-color: navy;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px;
}

.input-holder {
    margin-bottom: 5px;
}

::deep input {
    width: 300px;
}
