@rendermode InteractiveAuto

@using BlazorCalendar.Client.Components

<ModalDialog Opened="isShown">
    <HeaderContent>
        <div class="all-events-title">
            @GetTitle()
        </div>
    </HeaderContent>
    <DialogContent>
        <div class="all-events-wrapper">
            @foreach (var e in DayCard.Events)
            {
                var localTimestamp = e.Timestamp - DayCard.TimeZoneOffset;
                <div class="event-row">
                    <DayEventRow 
                        AddOrEditEventShown="DayCard.AddOrEditEventShown"
                        EventTimestamp="localTimestamp"
                        Title="@e.Title"
                        UpdateEvent="() => DayCard.OnAddOrEventDialogOpen(DayCard.Day, e, DayCard.Events)"
                        DeleteEvent="() => DayCard.OnDeleteEvent(e)" />
                </div>
            }
        </div>
    </DialogContent>
    <Footer>
        <div class="all-events-footer">       
            <button class="btn btn-primary" @onclick="() => isShown = false">Close</button>
        </div>
    </Footer>
</ModalDialog>

@code {
    private bool isShown = false;

    [CascadingParameter]
    public DayCard DayCard { get; set; } = default!;

    private string GetTitle()
    {
        var day = DayCard.Day.ToString().Length > 1 ? DayCard.Day.ToString() : $"0{DayCard.Day}";
        var month = DayCard.Month.ToString(day).Length > 1 ?
            DayCard.Month.ToString() : $"0{DayCard.Month}";

        return $"{month}/{day}/{DayCard.Year} Events";
    }

    public void Open() => isShown = true;
}
