@page "/About"

<PageTitle>About BlazorCalendar</PageTitle>

<h3>About</h3>
<div class="about-us-content">
    <div class="general-info">
        BlazorCalendar is a simple demonstration project using ASP .NET Core 8, Blazor, WebAssembly, and MongoDb.
        It implement Domain-Driven Design (DDD) using different Blazor rendering modes. The project demonstrates how to work with forms using
        server-side Blazor components, and how to build fully interactive pages with Blazor WebAssembly And Blazor Interactive Server. MongoDb is
        used as a storage for calendar event data, Repository pattern has been implemented both for read and write side models.
    </div>
    <div class="stack-image-container">
        <img src="/stack.png" />
    </div>
</div>

@code {

}
