@page "/contact-us"

<PageTitle>Contact Us</PageTitle>

<div class="content-holder">
    <div>
        Please feel free to contact us via Github or Linkedin.
    </div>
    <ul class="contact-us-links">
        <li>
            <a href="https://github.com/AlexanderFlanchik/AvsHost" target="_blank" rel="noopener">Project Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alexander-flanchik-45bb93121/" target="_blank" rel="noopener">Linkedin</a>
        </li>
    </ul>
</div>

@code {

}
